[2021-04-28 04:07] ahuds001 opened #1 "Filtering before matching"
There should be functionality where, prior to attempting to match officers between police departments we first check whether a match is possible. The logic is as follows:
- A match between departments is only possible if an officer has transferred
- If an officer has transferred then their first known date in the new department has to be greater than the last known date in the prior department

Th

[2021-04-28 04:14] ahuds001 opened #2 "Test alternatives to current matching"
Can we improve our current matching through using more fields than just first and last name in the datasets where they are available? For context, here is some research on probabilistic record linkage: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5065730/
There is a probabilistic record linkage package in python:
https://github.com/J535D165/recordlinkage

Separately flagging a string matching libr

[2021-05-03 00:46] pckhoi commented on #1
Yes, I think that is essentially what we should try to do. However I think how we go about it will affect the matching speed substantially. Have you heard of indexing or blocking in data matching? Essentially we try to assign each individual officer into one or multiple buckets such that we only need to compare officers within a bucket. In this way we avoid quadratic time when matching. One index

[2021-05-03 11:28] pckhoi commented on #1
I started using the matching package in other projects so I just split it to separate [repo](https://github.com/pckhoi/datamatch) and published to PyPi under the name `datamatch`. Let's contribute directly there.

[2021-05-03 11:30] pckhoi commented on #2
Thanks, I will take a look at all of them when I have more time.

We do match other fields such as "rank" and "hire_date" when they are available. But generally they are not very reliable.

[2021-05-06 01:10] pckhoi commented on #2
@ahuds001 I have read this literature before and while probabilisitic classification might be something useful in the future we don't have training dataset for any of our data to figure out the weight. Once we do, adding a `ProbabilisticMatcher` class will probably be simple enough.

Regarding fuzzy string matching, our `StringSimilarity` class use Levenshtein distance and we even have `JaroWinkle

[2021-05-10 03:15] ahuds001 commented on #1
Sounds good, closing this issue to move it over to https://github.com/pckhoi/datamatch

[2021-05-10 03:15] #1 closed

[2021-05-22 01:42] #2 closed

[2021-05-22 01:47] pckhoi opened #3 "Replacing lib/match with datamatch"
`datamatch` lib is now version 0.1.0. Perfect occasion to replace all references to `lib.match`.

[2021-05-22 01:52] pckhoi opened #4 "Document existing code in `lib` package"
Now that there are more developers working on this. This project should start having documentation at every level so that new people can be initiated into it quickly. One of the first area that we should tackle is to add docstring to all functions and classes found in `lib` package.

All docstrings should follow [Google style](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.

[2021-05-22 01:57] pckhoi opened #5 "Clean and match data from New Orleans SO"

[2021-05-22 02:36] pckhoi opened #7 "Add flake8 check for all pull requests"
The linter for this repo is officially flake8. All pull requests must pass flake8 check before getting merged to `main` branch.

[2021-05-22 02:36] pckhoi commented on #7
@ayyubibrahimi are you interested in adding this?

[2021-05-23 20:06] ayyubibrahimi commented on #7
Thanks.

[2021-05-23 20:55] ayyubibrahimi opened #11 "Processing scott_pd_cprr_2020"

[2021-05-24 10:50] #3 closed

[2021-05-25 04:16] pckhoi opened #13 "Build references for rank, department and complaint action"
Having references for common things such as rank, department and complaint action mean we can quickly translate from abbreviations and standardize quickly. I think we have worked on enough agency that we should start building references for these columns.

References are any file that can be found in `references` folder and could be a plain txt file or a CSV file, as well as any method/function to

[2021-05-25 04:17] pckhoi commented on #13
@ayyubibrahimi what do you think? I think you are probably suited to this.

[2021-05-25 08:29] pckhoi commented on #7
Also default max-line-length is 79. We want to increase this to 120.

[2021-05-25 23:12] ayyubibrahimi commented on #13
On it.

[2021-05-25 23:12] ayyubibrahimi opened #17 "Processing scott_pd_pprr_2021"

[2021-05-26 00:23] #4 closed

[2021-05-28 13:47] #11 closed

[2021-06-01 22:54] ayyubibrahimi opened #20 "Processing new_orleans_da_cprr_2021"

[2021-06-03 18:11] #17 closed

[2021-06-24 03:48] #5 closed

[2021-06-24 03:49] pckhoi opened #27 "Shreveport PD complaints records (2018-2019)"

[2021-06-24 03:51] pckhoi commented on #7
@ayyubibrahimi I was thinking of take on this task myself. Why did you close this?

[2021-06-24 06:52] ayyubibrahimi commented on #7
Misunderstanding, my bad. I treated it as a comment as opposed to a pull request.

[2021-06-25 00:05] #7 closed

[2021-07-01 07:19] #20 closed

[2021-07-01 18:57] ayyubibrahimi opened #34 "Tangipahoa SO complaint records (2015 - 2020)"

[2021-07-01 18:57] #34 closed

[2021-07-02 20:02] ayyubibrahimi opened #37 "Lafayette S.O. - complaint records (2015-2020)"

[2021-07-07 01:25] pckhoi commented on #13
@ayyubibrahimi any progress on this front? Any thought? I can take over if you want. I have some ideas.

[2021-07-07 01:29] ayyubibrahimi commented on #13
I planned to work on this tonight and tomorrow. Would you prefer to go for it and have me review?

[2021-07-07 01:35] pckhoi commented on #13
No that's fine, please share your thoughts and how you plan to approach this.

[2021-07-07 02:00] ayyubibrahimi commented on #13
My initial thought is to build it as I work through standardizing the rank_desc, department_desc, and compaints in the events table. Thoughts?

[2021-07-07 02:09] pckhoi commented on #13
I initially thought of doing top-down approach of coming up with the
reference first then cleaning from it. But seeing your bottom-up approach I
think it maybe makes more sense. Divide and conquer! You are probably on
the right track.

On Wed, Jul 7, 2021, 9:00 AM ayyubibrahimi ***@***.***> wrote:

[2021-07-07 04:09] ayyubibrahimi commented on #13
Top-down approach would be quicker for sure, but I figured the bottom up approach would make for good practice for my familiarity with all.

[2021-07-08 03:06] #37 closed

[2021-07-13 01:25] #27 closed

[2021-07-13 01:29] pckhoi opened #51 "Baton Rouge PD PPRR 2021"

[2021-07-13 02:37] pckhoi opened #52 "Ponchatoula PD PPRR and CPRR (2010 - 2020)"

[2021-07-13 03:15] pckhoi opened #55 "Lafayette PD PPRR (2010-2021) and CPRR (2015-2020)"

[2021-07-13 20:25] ayyubibrahimi commented on #13
So far I have a textfile for rank and department that I'd like your feedback on to ensure that I'm on the right path. I basically replicated the first/last name reference textfiles. As far as writing a function, am I right in that it should be analogous to the clean_races function that you wrote where I'm essentially just replacing abbreviations and incorrectly spelled words with the proper text?

[2021-07-13 20:31] ayyubibrahimi opened #56 "Baton Rouge PD CPRR (2010 - 2021 excepting 2018 and 2020 which have already been processed)"
@pckhoi - how would you name this dataset?

[2021-07-13 20:31] ayyubibrahimi opened #57 "Hammond PD CPRR (2015-2020)"

[2021-07-14 00:52] pckhoi commented on #13
What format we use should be decided based on what is useful. Text file isn't the only format. If you feel that there are abbreviations that tend to repeat in many agencies then you can save the reference as a CSV where the first column is the full unabbreviated name and subsequent columns as common abbreviations for example. No need to write your own function, if the reference can be used with `l

[2021-07-14 00:55] pckhoi commented on #56
Are you talking about the branch name? If the name make clear what is being processed and doesn't collide with existing names that is good enough.

[2021-07-14 01:34] pckhoi commented on #13
That isn't the only approach either. Maybe the combinations are too numerous. For example "dept records clerk" and "dept rec clerk-level ii" are not the same rank even though they share much in common. Another approach worth thinking about is to maintain reference to various components that can be found abbreviated in rank/department description rather than the whole rank itself. Again the referen

[2021-07-14 01:36] ayyubibrahimi commented on #13
Ok. Will experiment. Thank you!

[2021-07-22 15:20] #57 closed

[2021-07-27 00:55] #51 closed

[2021-07-27 00:55] #52 closed

[2021-07-27 00:55] #55 closed

[2021-08-04 04:54] ayyubibrahimi opened #63 "Tangipahoa SO 2015-2021"
Hey @pckhoi

I'm getting the error below when I run make and I can't figure out a solution. Thoughts?

File "/mnt/c/Users/AyyubI/processing/match/tangipahoa_so.py", line 22, in deduplicate_cprr_officers
    matcher.save_clusters_to_excel(data_file_path(
AttributeError: 'ThresholdMatcher' object has no attribute 'save_clusters_to_excel'
make: *** [Makefile:193: data/match/cprr_tangipahoa_so_2015_20

[2021-08-04 07:16] pckhoi commented on #63
Looks like you haven't updated to latest version of datamatch. Try running `pip install -r requirements.txt` and try make again.

[2021-08-04 20:25] ayyubibrahimi commented on #63
I have datamatch 0.1.8. Is there a more updated version?

[2021-08-05 01:10] pckhoi commented on #63
There isn't a newer version. If it's already 0.1.8 then it should have the method `save_clusters_to_excel`. Maybe it's something to do with your environment?

[2021-08-05 01:10] pckhoi commented on #63
We can start a session to look into this if you want.

[2021-08-05 20:00] ayyubibrahimi commented on #63
Must be something with my environment. I'm going to spend more time on it. If I fail, do you want to meet your Saturday morning/my Friday night, or the next? Also free next week

[2021-08-06 00:11] pckhoi commented on #63
Just shoot me an email the day before. I can join a session on most
mornings.

On Fri, Aug 6, 2021 at 3:00 AM ayyubibrahimi ***@***.***>
wrote:

[2021-08-06 05:57] ayyubibrahimi commented on #63
Awesome. Let's do tomorrow morning then.

[2021-08-06 07:15] pckhoi commented on #63
Okay.

On Fri, Aug 6, 2021 at 12:58 PM ayyubibrahimi ***@***.***>
wrote:

[2021-08-06 21:44] ayyubibrahimi commented on #63
I figured it out. No need to meet. Thanks!

[2021-08-06 22:00] ayyubibrahimi opened #65 "New Orleans SO CPRR 2020"

[2021-08-06 22:01] ayyubibrahimi opened #66 "East Baton Rouge CSD PPRR 2021"

[2021-08-06 23:57] pckhoi commented on #63
Nice!

[2021-08-06 23:57] #63 closed

[2021-08-12 02:41] pckhoi opened #68 "Ponchatoula PD CPRR 2010-2020"

[2021-08-12 02:48] pckhoi commented on #68
@ayyubibrahimi I want to ask about the main purpose of standardizing complaint related columns like `allegation`, `disposition` and `action`. What do we want to achieve here?

I ask because I run into some values for `allegation` that are quite similar but I don't know if I should group them as one thing:
- discourtesy
- discourteous to co-workers
- improper comments to city hall employees
- offen

[2021-08-12 16:13] ayyubibrahimi commented on #68
This was on my mind recently as well as I thought about references. I'm not sure that we can achieve anything because of the ambiguity and variation in data by agency therefore I'm inclined to think that the look_up table is best used to produce a clean output and to prevent missed typos. What are you thinking?

[2021-08-13 00:00] pckhoi commented on #68
I want to err toward investing less time into vague goals. Should there be a need for higher quality output we can always go back and improve it. For now though if it's highly free flow text I'm not even going to use lookup table if there are just some typos here and there.

[2021-08-17 20:04] #66 closed

[2021-08-18 03:00] pckhoi opened #71 "Get rid of `data_production_year` column?"
This column appear in complaints, use-of-force and appeal table and generally have the year the original dataset was given to us. E.g. `2019` if the file name is `new_orleans_pd_use_of_force_2012-2019.csv`. I don't see this column serving any practical purpose and so I want to remove it. Any objection? @rajivsinclair @lsukaristone @ayyubibrahimi

[2021-08-18 12:58] rajivsinclair commented on #71
Could it be replaced with a more precise `production_date` column instead? What if we need to see how current a particular record is or if we have two versions of the same record and we want to know which is more current?

[2021-08-18 13:22] #56 closed

[2021-08-18 13:23] pckhoi commented on #71
To answer the first question, I guess we can glean the production date off of file timestamp on Dropbox. @ayyubibrahimi are there any method that can be more precise?

Regarding the second question I have never seen the same record given to us from the same agency under different dates before so the usefulness of this is in doubt. It is possible for the same record to arrive from different agencie

[2021-08-18 13:47] ayyubibrahimi commented on #71
Taking the file timestamp from Dropbox sounds best.

[2021-08-19 02:16] ayyubibrahimi commented on #65
@rajivsinclair @pckhoi @lsukaristone

The action column in this dataset is mostly populated with dates for suspensions, resignations, and terminations. Should these become events?

[2021-08-19 15:24] pckhoi commented on #65
No, we already have the `officer_left` event.  Recently I added the `left_reason` column to event table, you can set it to "resignation" or "termination". Regarding suspension date, are we interested in that?

[2021-08-19 16:03] ayyubibrahimi commented on #65
Unless it complicates unreasonably, I am

[2021-08-19 23:51] pckhoi commented on #65
Sure, let's add in the suspension event, you will probably want to link it to both the officer and the complaint via `uid` and `complaint_uid`.

[2021-08-20 18:29] ayyubibrahimi commented on #65
Ok.

[2021-08-21 15:40] ayyubibrahimi commented on #65
What do you think about arrest date? There are a few here as well.

[2021-08-22 00:35] pckhoi commented on #65
Sure, why not? As long as it isn't a duplication.

[2021-08-22 09:34] ayyubibrahimi commented on #65
A duplication in what way? Some individuals will be arrested on the same day that they are terminated. Should that be consolidated into termination?

[2021-08-22 23:47] pckhoi commented on #65
Oh no, not saying the arrest event is a duplication at all. `left_reason` column: https://github.com/ppact/processing/blob/main/lib/columns.py#L182

[2021-08-24 01:02] pckhoi commented on #71
What is the consensus in this? Again I'm all for removing this column because for now it doesn't really serve any purpose, it only give us a false sense safety when in reality nobody know how to utilize this column because even the scenario is really vague. If and when a record arrive on different dates, it still won't show up in the final data as 2 records but will likely be caught in the clean s

[2021-08-27 15:33] ayyubibrahimi opened #73 "New Orleans PD Awards 2021"

[2021-08-27 15:34] ayyubibrahimi opened #74 "Lake Charles PD CPRR 2020"

[2021-08-30 18:59] #65 closed

[2021-08-30 23:29] rajivsinclair commented on #71
Hi, sorry for not following up sooner. Yes, please go ahead and remove this column.

[2021-09-04 23:50] #73 closed

[2021-09-05 20:12] ayyubibrahimi commented on #74
@pckhoi  Hey Khoi, this dataset refuses to download after I add it to run_datasets.json and run make. Are you having the same issue?

[2021-09-05 23:33] pckhoi commented on #74
No I haven't tried it. What's the output when you run `scripts/rawfiles.sh`?

[2021-09-05 23:38] pckhoi commented on #74
I suspect that adding `make download_links` to line 14 of `scripts/rawfiles.sh` might make the problem go away. Can you confirm?

[2021-09-06 00:08] ayyubibrahimi commented on #74
The output from `scripts/rawfiles.sh`:

"usage: scripts/rawfiles.sh SUB_DIR

Prints raw files under SUB_DIR of build/raw folder.

positional arguments:
  SUB_DIR               sub-directory under build/raw folder. These folders are generated from raw_datasets.json therefore SUB_DIR must be one of the keys found in that file. "

Adding` make download_links` to line 14 of `scripts/rawfiles.sh` had n

[2021-09-06 01:38] pckhoi commented on #74
What is the key in `raw_datasets.json` that you put the new file under? "lake_charles"?

[2021-09-06 02:03] ayyubibrahimi commented on #74
Yes

[2021-09-06 02:31] pckhoi commented on #74
Try this and see if it fixes it: `scripts/rawfiles.sh lake_charles_pd`

[2021-09-06 02:49] ayyubibrahimi commented on #74
When I run `scripts/rawfiles.sh lake_charles_pd` I get the error:

"curl: (22) The requested URL returned error: 404
link isn't working: https://www.dropbox.com/s/bjjptnrode22um2/lake_charles_pd_cprrr_2020.csv?dl=1
make: *** [raw_datasets.mk:12: data/raw/lake_charles_pd/lake_charles_pd_cprrr_2020.csv] Error 22"

Despite the fact that the Dropbox link is "https://www.dropbox.com/s/xzd2pr1nozb01ux/l

[2021-09-06 02:58] ayyubibrahimi commented on #74
Another issue. The clean file isn't being generated when I run make.

[2021-09-06 03:33] pckhoi commented on #74
Okay, what is the name the file that is not being generated? Also can you share the branch with me?

[2021-09-06 03:38] ayyubibrahimi commented on #74
`clean/cprr_lake_charles_pd_2020.csv` isn't being generated.

[2021-09-06 07:24] pckhoi commented on #74
https://github.com/ppact/processing/pull/77 should fix the issue. Makes sure to run `scripts/rawfiles.sh lake_charles_pd` and update your script with the correct path and everything should work.

[2021-09-10 22:41] ayyubibrahimi commented on #74
Apologies for the late follow-up, but I've been out all week.

When I change the key from `scripts/rawfiles.sh lake_charles` to `scripts/rawfiles.sh lake_charles_pd` I receive the following error:

[code]

It does work when I clone a new repo, add and run `scripts/rawfiles.sh lake_charles_pd`

[2021-09-11 00:39] pckhoi commented on #74
Hey, next time you just need to run `make clean` which removes the build folder. Then everything will be back to a clean slate.

[2021-09-11 16:52] ayyubibrahimi commented on #74
Awesome.

[2021-09-11 18:57] ayyubibrahimi opened #79 "Hammond PD CPRR 2009-2014"

[2021-09-13 20:42] #74 closed

[2021-09-13 20:42] #79 closed

[2021-09-13 20:42] ayyubibrahimi opened #81 "New Orleans CSC 2000 - 2012"

[2021-09-14 02:01] #68 closed

[2021-09-14 02:02] pckhoi opened #83 "West Monroe PD PPRR (2015-2020)"

[2021-09-14 03:10] pckhoi opened #85 "Sterlington CSD - PPRR 2010-2020"

[2021-09-14 08:01] pckhoi opened #87 "Youngsville CSD - PPRR 2017-2019"

[2021-09-15 23:24] ayyubibrahimi opened #89 "LPRRs"
Hey @pckhoi

Re `events`: what does the `appeal_render` event refer to? I wasn't sure if it referred to the "disposition" date, so I added `appeal_disposition` to the event table. (this event currently only applies to louisiana_state_csc.py).

Re `events`: what do you think about changing the prefix from "hearing" to "appeal_hearing" for the event `appeal_hearing ` (this currently only applies to

[2021-09-16 00:23] pckhoi commented on #89
Re `appeal_render`: the date came from a column named "rendered" in `raw/louisiana_state_csc/louisianastate_csc_lprr_1991-2020.csv`. It is probably the disposition date. What do you think? Which name should we keep?

Re `events`: yes, seems sensible to me.

[2021-09-16 01:19] pckhoi opened #91 "Sulphur PD - PPRR 2021"

[2021-09-16 01:19] #83 closed

[2021-09-16 01:19] #85 closed

[2021-09-16 01:19] #87 closed

[2021-09-16 17:09] ayyubibrahimi commented on #89
I'll confirm with LSC that render date refers to disposition date. if so, I say we change it to disposition date.

[2021-09-17 19:32] #81 closed

[2021-09-17 21:03] ayyubibrahimi opened #93 "Plaqumines Sheriff's Office - Personnel Records (2018)"

[2021-09-20 23:59] pckhoi opened #94 "Lake Charles PD - CPRR (2020)"

[2021-09-21 00:01] pckhoi commented on #94
Duplicate of https://github.com/ppact/processing/issues/74

[2021-09-21 00:01] #94 closed

[2021-09-21 00:17] pckhoi opened #95 "Carencro PD - PPRR (2021)"

[2021-09-21 02:02] pckhoi opened #97 "Baton Rouge PD - CPRR (2010-2020)"

[2021-09-21 18:52] ayyubibrahimi opened #100 "University Department Pages"

[2021-09-22 05:00] ayyubibrahimi opened #102 "new_orleans_pd_pprr"
I noticed that the script `new_orleans_pd_pprr.py` in clean is no longer being used because we decided to use the roster from IPM. Should this be deleted?

FYI - I started to add the `new_orleans_pd_commendations_2016_2021.csv ` but in the end I decided to create the new script, `new_orleans_pd_award.py`

[2021-09-23 00:19] pckhoi commented on #102
I think it is fine to remove it.

[2021-09-23 12:03] pckhoi commented on #93
@ayyubibrahimi Holly Hardin Daniel Swear from Plaquemines SO CPRR 2019 is probably the same person as Holly Hardin from this dataset but flagged as different because the last name from PPRR is recorded as "Hardin" instead. Could you take a look at that?

[2021-09-23 12:18] pckhoi opened #103 "Officer with more than 1 left date in a calendar month"
Moving issue from Asana here for easy tracking. I found these 2 rows from New Orleans SO and @ayyubibrahimi confirmed the same events were found from charges data:

[code]

I'm turning a blind eye to this for now but we should decide on how to resolve this soon because it means this might results in bugs in the LLEAD website.

[2021-09-23 12:18] pckhoi commented on #103
@rajivsinclair

[2021-09-23 13:07] pckhoi commented on #93
Also found 2 officers with strange birth year:
[code]

[2021-09-23 15:39] #100 closed

[2021-09-23 15:57] ayyubibrahimi commented on #93
Just received confirmation on the dates and fixed them.

Holly Hardin and Daniel Swear are two different people.

[2021-09-23 17:59] ayyubibrahimi opened #106 "IPM - New Orleans Sheriff's Office - Bookings and Charges (2015 - 2021)"

[2021-09-23 17:59] ayyubibrahimi opened #107 "Kenner PD - UOF (2005-2021)"

[2021-09-24 14:17] #93 closed

[2021-09-25 15:18] #102 closed

[2021-09-25 15:18] #89 closed

[2021-09-25 19:07] ayyubibrahimi commented on #106
@pckhoi I don't understand 80% of the data. I think that its useful for data on demographics and bond amounts but beyond that I don't see much utility until we get clarification on the codes used, if ever. Do you recommend dropping the columns until then?

[2021-09-26 00:11] pckhoi commented on #106
Yes, there's no point in adding data that we don't understand.

[2021-09-27 20:37] ayyubibrahimi opened #109 "enhancement/lake_charles_pd_2014_2019"

[2021-09-29 17:45] #107 closed

[2021-10-02 01:23] ayyubibrahimi opened #112 "enhancement/lafayette_so_2009_2014"

[2021-10-02 01:25] ayyubibrahimi opened #113 "bug/ipm_nopd_cprr_allegations"

[2021-10-03 14:03] #109 closed

[2021-10-05 23:29] ayyubibrahimi opened #116 "enhancement/ouachita_da_brady"

[2021-10-05 23:43] ayyubibrahimi opened #119 "enhancement/scott_pd_cprr_2009_2014"

[2021-10-06 04:11] #106 closed

[2021-10-06 22:32] ayyubibrahimi opened #120 "enhancement/east_baton_rouge_booking_log_2020"

[2021-10-08 04:26] #112 closed

[2021-10-08 20:45] ayyubibrahimi opened #123 "enhancement/central_pprr_2014_2019"

[2021-10-10 19:00] ayyubibrahimi opened #124 "enhancement/new_orleans_so_pprr"

[2021-10-12 00:44] pckhoi opened #125 "Slidell CSD - PPRR (2010-2020)"

[2021-10-12 01:04] #71 closed

[2021-10-12 02:46] rajivsinclair commented on #103
Thanks for flagging this. Can we do anything to validate the raw source data for this? /cc @ayyubibrahimi

[2021-10-12 15:12] #116 closed, assigned to nobody

[2021-10-13 01:39] pckhoi commented on #103
@rajivsinclair since these appear consistently in multiple data sources, chances are they are not typos. Until Ayyub figure out the underlying reason, I think you should probably let the web team know to handle this possibility.

[2021-10-13 20:27] ayyubibrahimi opened #132 "enhancement/post_decertifications"

[2021-10-14 16:52] #120 closed

[2021-10-14 17:48] #124 closed, assigned to ayyubibrahimi

[2021-10-15 01:02] ayyubibrahimi opened #133 "new orleans pd"
Hey @pckhoi

I can't remember if you had issues with matching the New Orleans PD roster that we received from IPM with the rosters that we received from the new Orleans CSD. I can only remember that the matching was poor between the rosters that we received directly from the New Orleans PD with the rosters that we received from the New Orleans civil service division. I ask because it would be idea

[2021-10-15 14:56] #123 closed, assigned to ayyubibrahimi

[2021-10-15 16:41] ayyubibrahimi opened #135 "enhancement/tangipahoa_da"

[2021-10-15 16:44] ayyubibrahimi opened #136 "enhancement/bossier_city_pd_pprr_2000_2019"

[2021-10-16 01:28] pckhoi commented on #133
I don't think there was anything in particular about the data from NOPD or NO CSD that made matching too difficult. The feeling was that the data from IPM was much more complete and even come with complaints data so it was much more efficient to just ignore data from other sources. We have come a long way since then so we will probably be more successful this time around integrating these data. Pl

[2021-10-18 13:58] ayyubibrahimi opened #138 "enhancement/plaquemines_so_2016_2020"

[2021-10-20 03:42] #133 closed, assigned to pckhoi, ayyubibrahimi

[2021-10-20 22:18] #132 closed

[2021-10-21 17:11] ayyubibrahimi opened #144 "enhancement/bossier_city_pd_cprr_2020"

[2021-10-22 17:35] #138 closed, assigned to ayyubibrahimi

[2021-10-26 00:22] ayyubibrahimi opened #147 "enhancement/hammond_pd_cprr_2004_2008"

[2021-10-29 17:08] #144 closed, assigned to nobody

[2021-10-29 17:08] #136 closed, assigned to ayyubibrahimi

[2021-11-01 19:05] ayyubibrahimi opened #150 "enhancement/plaquemines_so_cprr_2016_2020"

[2021-11-01 20:02] #150 closed

[2021-11-02 07:54] pckhoi commented on #150
I found 3 rows in 2020 CPRR with first name = "plaquemines parish sheriff's office" and no charges. How about dropping them?

[2021-11-02 19:46] ayyubibrahimi commented on #150
Yes. Thank you.

[2021-11-02 19:47] #147 closed

[2021-11-03 14:27] ayyubibrahimi opened #153 "enhancement/lafayette_so_2006_2008"

[2021-11-03 15:50] ayyubibrahimi opened #154 "enhancement/lafayette_pd_2009_2014"

[2021-11-09 18:11] ayyubibrahimi opened #156 "Importation of duplicate department profiles into LLEAD"
Below are duplicate department profiles that have been imported into the Django interface. For example, unique events are attached to both “Tangipahoa Parish Sheriff” and “Tangipahoa Sheriff’s Office”. These departments should be consolidated into one department named, for example, “Tangipahoa Parish Sheriff’s Office”. Let me know if you want to discuss further.

**Tangipahoa Parish Sheriff (and T

[2021-11-10 00:09] pckhoi commented on #156
@rajivsinclair I believe this is an issue with the LLEAD backend and should be addressed there rather than within this repo. Data for Tangipahoa SO and Lafayette SO are certainly not duplicated here. Am I understanding correctly @ayyubibrahimi ?

[2021-11-10 00:12] rajivsinclair commented on #156
This is actually an issue with the inconsistency between the dept name being displayed on LLEAD and the dept name that is imported with the data from this pipeline. In order to address this, I think we need to use a consistent unique slug to use as a unique identifier on both ends.

[2021-11-10 00:38] pckhoi commented on #156
Not sure what you mean by dept name. Are you referring to `agency` field? In the [com-tangipahoa-so](https://www.wrgl.co/@ipno/r/com-tangipahoa-so/d7fddf65cf74f2cf389da932d6e2d172#preview), it is "Tangipahoa SO". How is it not consistent with the LLEAD backend?

[2021-11-12 19:49] ayyubibrahimi opened #159 "enhancement/new_orleans_pd_stop_and_search_2007_2021"

[2021-11-15 13:52] ayyubibrahimi opened #161 "enhancement/baker_pd_complaints_2020"

[2021-11-15 22:40] ayyubibrahimi opened #162 "enhancement/houma_pd_2019_2021"

[2021-11-16 01:39] pckhoi commented on #153
Hey Ayyub, we recently found an officer with the name "Records File" in Lafayette SO. Could you investigate?

[2021-11-16 03:14] pckhoi opened #163 "Add `deparment_desc` and `agency` column to `personnel` table"
These columns will act as fall-back for LLEAD website for officers who don't have any date associated with them.

[2021-11-16 16:06] #154 closed

[2021-11-16 16:25] ayyubibrahimi commented on #153
Yes. Sorry I meant to bring this up for discussion.

Lafayette SO, in addition to other sheriff's offices, uses the name "Records File" (or "See Records", or "Record Only File", etc) in lieu of the officer's name for a handful of records. I don't think we should drop these records, as they often contain other useful data that may provide enough context for a searching person who has background con

[2021-11-16 22:07] rajivsinclair commented on #153
I think we first need to investigate further about why these records are coming in without real names. If they're just withholding them from you, then it is probably worth some push back. On the other hand, if they're not retaining this info in their internal data system that is pretty alarming.

Creating a generic/dummy officer profile is not a great solution for LLEAD – especially if the profile

[2021-11-16 23:54] ayyubibrahimi commented on #153
I believe that this issue extends to the following departments:

- Tangipahoa Sheriff's Office (name of the accused is listed as "TPSO")
- Lafayette Parish Sheriff's Office (name of the accused is listed as "File for Records Only" or "Unknown")
- Lafayette Police Department (name of the accused is listed as "Unknown")
- Lake Charles PD (name of the accused is listed as "Unknown")
- New Orleans She

[2021-11-17 03:27] pckhoi commented on #153
For now, complaints with unidentifiable officers are still kept, just with
empty UID. I think we can just keep following this approach. LLEAD website
might even handle this case already.

On Wed, Nov 17, 2021 at 6:54 AM ayyubibrahimi ***@***.***>
wrote:

[2021-11-18 04:57] #156 closed

[2021-11-18 04:57] #153 closed

[2021-11-18 05:01] pckhoi opened #165 "rename `complaint` table to `allegation` and `complaint_uid` to `allegation_uid`"
@rajivsinclair the repository name is `complaint`. There's no repository rename functionality yet for wrgl so this could potentially mean losing all history. Renaming the primary key (complaint_uid -> allegation_uid) is less severe but will still make the commits after that non-comparable to the previous commits. The current names are a bit confusing but they are still semantically correct. Is it

[2021-11-18 05:02] pckhoi opened #166 "Introduce entity-resolution to person profile matching"
In order to preserve the `person_uid` each time there is a change.

[2021-11-18 05:03] ayyubibrahimi opened #167 "Improve readability of allegations column"

[2021-11-18 05:03] pckhoi opened #168 "Introduce the ability to unmatch common names to person profiles matching."
Common names like "Michael Smith" should be disregarded by the matching process.

[2021-11-18 05:09] ayyubibrahimi opened #169 "Replace nondescript names with "" in allegations tables received from Lafayette PD, Lafayette SO, Tangipahoa SO, Lake Charles PD, and New Orleans SO"

[2021-11-18 05:10] rajivsinclair commented on #165
I feel that losing history up til now for this table on WRGL is acceptable.

[2021-11-18 22:07] ayyubibrahimi opened #172 "bug/lprr_new_orleans_csc"
@pckhoi

Any idea as to why these tables haven't been imported into WRGL?

[2021-11-18 23:48] ayyubibrahimi commented on #165
@pckhoi - did you also intend to rename the `charges` column for each cprr.py file to `allegation` or should I go ahead and make those changes?

[2021-11-19 01:08] pckhoi commented on #172
I'm replacing the wrglsync functionality, which will take around 2 weeks. Please wait until then. In the mean time, you could make manual commit via the web interface.

[2021-11-19 01:12] pckhoi commented on #165
Yes, please. That would be a great help. Before that though, https://github.com/ppact/processing/pull/164 needs to be merged. Could you resolve the conflicts there too? Just move stop and search columns into datavalid.yml.

[2021-11-19 01:47] ayyubibrahimi commented on #165
Great. I'll handle the renaming. Conflicts have just been resolved.

[2021-11-19 01:49] ayyubibrahimi commented on #172
Sounds good.

[2021-11-19 01:49] #172 closed

[2021-11-19 01:50] pckhoi commented on #165
Could you push the resolved commit so that I can review it?

[2021-11-19 02:23] ayyubibrahimi commented on #165
I believe that I did. Can you see?

[2021-11-19 02:41] pckhoi commented on #165
Sorry for not being clear. You need to make the changes directly to the branch `enhancement/consolidate-columns-info`:
- Add the stop and search columns to datavalid.yml
- Modify `rearrange_stop_and_search_columns` to use `datavalid_config`
- `make` the stop and search CSVs, ensure that everything runs perfectly.
I'm expecting a new commit under this PR: https://github.com/ppact/processing/pull/16

[2021-11-19 04:41] ayyubibrahimi commented on #165
Got it. I've just pushed a new commit to PR: #164

[2021-11-19 12:19] pckhoi commented on #165
Nice!

[2021-11-23 10:13] pckhoi commented on #168
@ayyubibrahimi Here's the current matching algorithm:
[code]

From our discussion last week I think there are two approaches:

## 1. Put the common names in the constraint table

Just like you suggested, which may be fine for the following reasons:

- No need to make the algorithm more complicated than it already is.
- The list of common names that need to be maintained in the constraint table wil

[2021-11-23 18:24] ayyubibrahimi commented on #168
Amazing. Excited to put it in practice.

[2021-11-24 01:10] pckhoi commented on #159
@ayyubibrahimi there are a lot of records with duplicated `stop_and_search_uid`, most of them only differ in `badge_number` column. Any idea?

[2021-11-24 01:12] ayyubibrahimi commented on #159
Weird. They should also differ in name. The raw table was sent to us with officer names, usually two officers, in one column but with a badge number column that served to differentiate. I'll review.

[2021-11-24 08:13] pckhoi commented on #159
Also, the fuse script for NOPD run pretty slowly after this update. Can you spend some time looking to improve the speed also?

[2021-11-24 13:49] ayyubibrahimi commented on #159
Got it. Thanks.

[2021-11-24 13:49] #169 closed

[2021-11-24 13:50] #167 closed

[2021-11-25 16:33] #161 closed

[2021-11-28 19:09] #162 closed

[2021-11-28 19:10] ayyubibrahimi opened #180 "enhancement/vine scraper"

[2021-12-02 19:15] ayyubibrahimi opened #185 "enhancement/denham_springs_pd_allegations_2019_2021"

[2021-12-02 19:16] ayyubibrahimi opened #186 "enhancement/washington_so_allegations_2015_2021"

[2021-12-03 14:51] ayyubibrahimi opened #188 "enhancement/cameron_so_2020_allegations"

[2021-12-03 14:51] ayyubibrahimi opened #189 "enhancement/terrebonne_so_2020_allegations"

[2021-12-06 14:53] ayyubibrahimi opened #197 "enhancement/pprr_jefferson_so_2020"

[2021-12-06 15:44] #189 closed

[2021-12-06 15:45] #186 closed

[2021-12-06 15:45] #185 closed

[2021-12-07 04:36] ayyubibrahimi commented on #159
Did you do all that you could when you reviewed this script or should I look at more ways to improve the speed?

[2021-12-07 07:43] pckhoi commented on #159
No, I haven't looked into improving the speed. Might need to modify the events library. No pressure there.

[2021-12-07 21:49] #180 closed

[2021-12-08 00:48] #166 closed

[2021-12-08 00:48] #168 closed

[2021-12-08 18:09] maheenakbarkhan opened #199 "trouble extracting tables"
@pckhoi
Hi Khoi! Thanks so much for offering to help me out with the table extraction step. I followed the previous steps to train a custom model and am trying to run the "extract_tables_from_doc.py" script. This is the full command I run:
` extract_tables_from_doc.py /Users/maheenkhan/Documents/InvisibleInstitute/ChampaignUseOfForce/UOFFullDetails.pdf /Users/maheenkhan/Documents/InvisibleInstitut

[2021-12-08 23:34] ayyubibrahimi opened #201 "enhancement/allegations_west_monroe_pd_2020"

[2021-12-08 23:38] ayyubibrahimi opened #202 "enhancement/pprr_baker_pd_2010_2020"

[2021-12-08 23:38] ayyubibrahimi opened #203 "enhancement/pprr_lake_charles_pd_2010_2020"

[2021-12-08 23:38] ayyubibrahimi opened #204 "enhancement/allegations_houma_pd_2017_2018"

[2021-12-08 23:39] ayyubibrahimi opened #205 "enhancement/allegations_abbeville_pd_2015_2018"

[2021-12-09 08:26] pckhoi commented on #199
It looks like this issue right here: https://stackoverflow.com/a/65854241/390370

I have made the fix in branch `bug/extract-tables-script`. Can you run the script again in that branch and let me know if it works?

[2021-12-09 16:33] maheenakbarkhan commented on #199
Thanks, Khoi! That helped me get past the environment variable problem. Now, however, I'm getting a separate issue. This is the full command I am running for clarity (I was getting problems with the previous doc url I was using and I added the ---end-page argument);
`extract_tables_from_doc.py https://www.dropbox.com/s/nk77z0z6lzqkn5f/FrptOffFullDetails%20080116%20-%20080121%20%281%29_RD.pdf\?dl=0

[2021-12-09 17:16] maheenakbarkhan commented on #199
Thanks, Khoi! That helped me get past the environment variable problem. Now, however, I'm getting a separate issue. This is the full command I am running for clarity (I was getting problems with the previous doc url I was using and I added the ---end-page argument);
extract_tables_from_doc.py <link to document> /Users/maheenkhan/Documents/InvisibleInstitute/ChampaignUseOfForce/ChampaignTables --mo

[2021-12-09 23:56] pckhoi commented on #199
Can you show me the full command this time? The first argument should be an HTTP link to the pdf, if it is a local file then I will have to make adjustments to the script. The normal flow is like this:

- Download the pdf from the HTTP URL to `build/pdf_batch_reader/docs/{filename}`
- Split the PDF into batches and store them into `build/pdf_batch_reader/batches/{filename}/{batch_number}.pdf`. Dur

[2021-12-10 15:45] maheenakbarkhan commented on #199
I actually changed the first argument to be a link to the pdf on dropbox so it isn't to a local file anymore!

[2021-12-11 00:10] ayyubibrahimi opened #209 "bug/add canonicalize_name function to all relevant match scripts"

[2021-12-16 00:19] #199 closed

[2021-12-16 20:32] #197 closed

[2021-12-20 18:23] #204 closed

[2021-12-20 22:14] ayyubibrahimi opened #216 "question/wrglhub"
@pckhoi

Working on integrating wrgl now. The current steps that I've taken:

1) Installed with: sudo bash -c 'curl -L https://github.com/wrgl/wrgl/releases/latest/download/install.sh | bash'
2) initialized a repo with `wrgl init`
3) Set up credentials
3) Attempted to `wrgl pull --all`, however, I received the following error:

[code]
After running `wrgl credentials authenticate https://hub.wrgl.c

[2021-12-21 00:26] pckhoi commented on #216
Can you try with this?
[code]

[2021-12-21 01:09] ayyubibrahimi commented on #216
Yes, I will try and update you tonight.

[2021-12-21 02:45] ayyubibrahimi commented on #216
Cool. I'm in. Will let you know if I run into any other questions along the way.

[2021-12-21 03:21] ayyubibrahimi commented on #216
Current issue that I have yet to figure out how to solve. Please advise. The following error was raised at the tail end of make:

`make: *** No rule to make target 'build/person.csv', needed by 'data/match/person.csv'.  Stop.`

[2021-12-21 09:21] pckhoi commented on #216
I fixed it in https://github.com/ppact/processing/pull/218

Please check out that branch and see if it work for you.

[2021-12-22 00:48] ayyubibrahimi commented on #216
Currently in progress. Wifi is terribly slow, so it's taking a while but I'll shoot over an update when I have one.

[2021-12-22 01:29] ayyubibrahimi commented on #216
Looks good!

[2021-12-22 17:55] ayyubibrahimi commented on #216
Keeping this open for when I have inevitable questions that'll come to me prior to making the first push, which I think makes sense after we finalize POST, which I'm going to review now and ask for your review, once more, if it looks complete.

[2021-12-24 17:52] ayyubibrahimi opened #220 "extraction w spacy"
Hey @pckhoi  - Not sure how to best display this code for your review, so I'm going to post it in an issue. Let me know if there is a better way.

Please review whenever you have the time. No rush whatsoever as I'm still constantly experimenting, but any and all feedback is more than welcome and appreciated.

[2021-12-24 17:53] ayyubibrahimi commented on #220
1) download data from dropbox
[code]

[2021-12-24 17:55] ayyubibrahimi commented on #220
2. download metadata from dropbox
[code]

[2021-12-24 17:55] ayyubibrahimi commented on #220
3. OCR each PDF downloaded from Dropbox
[code]

[2021-12-24 17:57] ayyubibrahimi commented on #220
4. Preprocess the text files that have been selected for training (in this case 25% were isolated for supervised training via manually labeling using Doccano).
[code]

[2021-12-24 17:59] ayyubibrahimi commented on #220
5. Train a Spacy model on the training data downloaded from Doccano

[code]

[2021-12-24 18:16] ayyubibrahimi commented on #220
6. Match uids extracted from Spacy model with personnels table (a merge product of the event table and personnel table).

As you can tell, I'm still very much in the beginning stages of creating an efficient pipeline, however, because I'm now at the stage where I have successfully been able to match the `uid` of extracted officers with their` uid `in the personnel table, with my own rudimentary ex

[2021-12-25 01:04] pckhoi commented on #220
IMO, Pull request is the best for any kind of code review even the one that you don't intend to merge.

Some things I want to comment on:
- It is good practice to always put code in a function or the main block. Never put them in the global scope unless absolutely necessary.
- Always open files in a context. That way the file is closed automatically when you finish reading:
[code]
- If you plan to

[2021-12-25 21:12] ayyubibrahimi commented on #220
Thanks. Ok. It'll take me sometime to work out how to integrate it within our official pipeline. I'll hit you up when it's ready for review.

[2021-12-29 06:44] ayyubibrahimi opened #222 "appeals"
@pckhoi - Q

Do you think that data from `appeal_hearings` should have their own repo on WRGL, like `use_of_force`, `stop_and_search`, `allegation`, `event`, and `personnel`?

For now, we only have only received `appeal_hearing` data as tables/logs from NOPD, Baton Rouge PD, and Louisiana State PD. All of which are included in the events table.

The question struck me now, because what I've curren

[2021-12-29 07:28] pckhoi commented on #222
Sure, it seems quite obvious that we should have an appeal hearing table. I remember we did have it as a separate table at some points but then forgot about it. Probably because it's not used yet on the LLEAD website.

[2021-12-29 07:31] ayyubibrahimi commented on #222
Awesome

[2021-12-29 18:07] ayyubibrahimi commented on #222
I'll hold off on consolidating the current `appeal_hearing `tables w fusion until POST has been integrated.

[2022-01-02 20:20] ayyubibrahimi commented on #216
@pckhoi

In the process of making a commit to wrglhub now that the POST data has been integrated successfully.

Just ran` wrgl pull --all` and I notice that some branches are labeled as "Repository not found, skipping." Not 100% sure as to what this means.

[2022-01-02 20:43] ayyubibrahimi commented on #216
Q. When making a commit to wrglhub, should I be making it from the main git branch?

[2022-01-02 21:35] ayyubibrahimi commented on #216
The running of `wrgl diff --all` stops completely when it comes across the following:

[code]

If I remember correctly, some of these `match/pprr_(x_agency).csv` files were removed when you introduced the `extract post events` function, because we decided to prioritize pprr data collected directly from a given agency over POST, which made the  `match/pprr_(x_agency).csv` unnecessary.

[2022-01-02 21:54] ayyubibrahimi commented on #216
Running `make`, which I ran prior to wrglhub comparisons, doesn't seem to be working as intended, as I've received the following break when running `wrgl diff --all`

[code]
If I run within the terminal `make data/match/cprr_baton_rouge_da_2021.csv`, the error is no longer present when I run  `wrgl diff --all`.

[2022-01-03 00:39] pckhoi commented on #216
There is a new version of wrgl with better diff output. Please install with:
[code]

When commit & push, please do so from the `main` branch.

`Repository not found, skipping.` during pulling simply means the corresponding repo for a branch is not yet created on wrglhub. The latest version has the command `wrgl hub repo create` created just for this purpose. You can run it when you add new entries

[2022-01-03 00:43] pckhoi commented on #216
Actually, please hold off on running `wrgl hub repo create`. I need to add a flag to specify the owner (other than yourself) e.g. `--user ipno`.

[2022-01-03 00:46] ayyubibrahimi commented on #216
Ok.

[2022-01-03 01:41] pckhoi commented on #216
New version of `wrgl` is released with `--user` flag for `wrgl hub repo create`.

[2022-01-03 03:27] ayyubibrahimi commented on #216
I ran `sudo bash -c 'curl -L https://github.com/wrgl/wrgl/releases/latest/download/install.sh | bash`

I ran `wrgl pull --all`  again;

I next ran `wrgl diff --all`. The break message is now:

[code]

[2022-01-03 06:08] ayyubibrahimi commented on #216
Because these `match/pprr_(x_agency).csv` are no longer relevant for some agencies (namely Brusly and St Tammany), now that the `extract_post_events_function `is in use, I'm working in an experimental branch where I have removed these `match/pprr `outputs from the config.yaml file and` wrgl diff --all `  now runs without the breaks noted above.

Am I on the right track?

[2022-01-03 23:44] pckhoi commented on #216
Yes, please make the changes in a new PR. I have already reviewed the output though so feel free to push now.

[2022-01-04 05:36] ayyubibrahimi commented on #216
I run: `wrgl commit per-post 'integrating per-post into ipnos wrglhub repo` and receive the following output:

[code]

I then run: `wrgl push per-post`, and receive the following output:

`status 404: {"message":"Not Found"}`

Please advise as to what silly mistake I am making

[2022-01-04 12:50] pckhoi commented on #216
Maybe because the per-post repository does not exist on wrglhub? You can create that repo with:
[code]

Regarding the commit and diff command, did they stop when the file isn't found? If so then I will make them continue with other branches in a new version.

[2022-01-04 13:34] ayyubibrahimi commented on #216
That makes perfect sense. Thank you. I wasn't able to locate that command in the READMEcor documentation page for wrglhub (which looks awesome, btw)

Re your question: yes

[2022-01-04 14:52] ayyubibrahimi commented on #216
Fully up to-date. Thanks for the walk through.

One q. The new repo's, for example, `per-post` has automatically been classified as private. Is this intentional?

[2022-01-04 15:31] #222 closed

[2022-01-04 15:31] #220 closed

[2022-01-04 15:33] #159 closed

[2022-01-04 16:31] pckhoi commented on #216
Sorry I forgot to mention that you need to add the flag `--public` during repo creation. If you cannot change it to public then perhaps ipno handle (which I'm still holding) will be able to change it.

[2022-01-04 16:35] pckhoi commented on #216
Re documentation page, it is still tied to wrglhub release schedule for now so it is a little delayed. But you can access most of the same documentation for any command if you just add `--help` flag.

[2022-01-04 16:36] ayyubibrahimi commented on #216
All good. I'll look into manual changes. Thanks!

[2022-01-05 20:23] ayyubibrahimi commented on #216
I don't seem to be able to change it manually.

[2022-01-06 00:15] ayyubibrahimi commented on #216
Regarding the appeal_hearing and acadia_so branches that were merged into main today, I can created (public :) ) wrgl repos for appeal-hearing and acadia, committed and then ran `wrgl push --all`. A break occurred at:

[code]
Should I only be running `wrgl push --all ` when absolutely necessary?

[2022-01-06 00:26] pckhoi commented on #216
@ayyubibrahimi the only way to make a repo public for now is to do so on the user page: https://hub.wrgl.co/@ipno if you have the ipno handle. I went ahead and make these 3 repos public: `per-post`, `per-baker-pd`, `per-abbleville-pd`.

`413 Request Entity Too Large` means the data you're pushing is too big so the server refuses to accept. It's a simple exercise to increase the payload size that i

[2022-01-06 00:29] ayyubibrahimi commented on #216
I'll go ahead and make the rest public. Thanks.

Size of `sas-new-orleans-pd` is 240 MB (252,231,930 bytes)

[2022-01-07 08:18] pckhoi commented on #216
@ayyubibrahimi I have increased the max payload size. Can you try pushing again and let me know how it goes?

[2022-01-07 17:13] ayyubibrahimi commented on #216
It worked! Awesome. Thanks. Repo design changes look great. Killin it.

[2022-01-08 00:58] pckhoi commented on #216
Thank you!

[2022-01-09 18:42] #201 closed

[2022-01-09 19:39] #216 closed

[2022-01-10 22:00] #205 closed

[2022-01-12 20:23] stefanv opened #231 "README link to wrgl broken"
I'm trying to figure out what wrgl is, and Google is not helping much!

[2022-01-13 00:17] pckhoi commented on #231
Thank you for the report, we will fix ASAP. Here's the link to wrgl: https://www.wrgl.co.

Full disclosure: I'm the creator of Wrgl and obviously we need to work on SEO more. But basically, Wrgl is like Git but for data, CSV in particular. You can keep your data in a Wrgl repository on your local computer, or you can host a wrgl repository with wrgld and provide access to others, or you can push t

[2022-01-13 00:24] stefanv commented on #231
Thanks @pckhoi! Could you also point me to the relevant storage/transport schemas, and the code repo (for wrgld etc.)?

[2022-01-13 00:33] pckhoi commented on #231
Here's the repo: https://github.com/wrgl/wrgl

Documentation: https://hub.wrgl.co/doc/guides/quickstart/

Storage and transport format is undocumented for now but it is very similar to Git with the key differences being:
- Only support HTTP transport
- Packfile format is only used to pack objects together during transport (push/pull)
- Wrgl uses BadgerDB as the storage backend.
- The commit object

[2022-01-13 01:05] pckhoi commented on #231
Yes, this only focuses on CSV. But in the future, we may add support for other tabular formats such as Avro. No, Wrgl doesn't work with images and arbitrary binaries. But it can do a lot with CSV that other techs can't do such as: showing diff at the cell level, automated data profiling, data profile diffing, etc. Basically, anything that works with and enhances tabular data will find Wrgl a great

[2022-01-13 01:17] #231 closed

[2022-01-15 17:55] #202 closed

[2022-01-15 17:56] #203 closed

[2022-01-18 19:01] ayyubibrahimi opened #236 "enhancement/allegations: cameron_so, benton_pd, rayne_pd, st. landry_so, erath_pd"

[2022-01-19 17:54] ayyubibrahimi commented on #236
complete:
- st_landry_so_2020

[2022-01-20 04:03] ayyubibrahimi opened #239 "POST officer history profiles"
Hey @pckhoi -

I'm re-rerouting our email conversation re: POST officer history profiles and the cross_agency script here to this issue.

As you mentioned that you'll have a better idea of how these officer history profiles can be incorporated once you see an example of the data consolidated into a single table, I've produced an initial table based on the 93 officer history profiles that we curren

[2022-01-20 14:00] pckhoi commented on #239
Nice! The only unfortunate thing is that we don't have this level of data for the majority of the officers. For that reason, I can only see this taken as an input into the cross-agency match script and nowhere else in the pipeline.

An interesting thing I noticed is that Jacqualyn seems to be holding 3 jobs at once! Is this the norm? Because the cross-agency match script works on the assumption th

[2022-01-20 15:07] ayyubibrahimi commented on #239
It is very unfortunate. The approximate cost is $20,000 to receive all 63,000 records. It might be worth revisiting the discussion of that cost with the team.

I wouldn't go so far as to say that it is a norm, however, it is not uncommon for an officer to work for more than one agency during a given time. In such an instance, it is most common for an officer to work full-time for one agency and pa

[2022-01-21 00:22] pckhoi commented on #239
Cool, I guess we can leave that logic of the cross-agency match script as-is for now. We can discard the `NonOverlappingFilter` when we want it to match more officers.

[2022-01-24 19:48] ayyubibrahimi opened #241 "Rename middle_initial columns"

[2022-01-24 19:48] #239 closed

[2022-01-25 20:28] ayyubibrahimi opened #244 "enhancement/pprr_hammond_pd_2020; cprr_eunice_pd_2019_2021; pprr_rayne_pd_2010_2021"

[2022-01-25 21:15] ayyubibrahimi opened #245 "Enhancement/brady_lists"

[2022-02-15 02:32] pckhoi opened #250 "No rule to make target 'data/raw/rayne_pd/rayne_pd_pprr_2010_2020.csv'"
@ayyubibrahimi there's no entry for `rayne_pd` in `raw_datasets.json`.

[2022-02-15 22:42] ayyubibrahimi commented on #250
Thanks. I must have worked on this when I was traveling on an overnight bus without internet access which would allow me to download the CSV directly from Dropbox. I corrected this bug in the rayne_pd pull request #226

[2022-02-16 19:50] ayyubibrahimi commented on #250
I just opened a new pull request for this so that the fix is on the rayne_pd_personnel branch. Please see #251

[2022-02-17 02:46] #250 closed

[2022-02-17 02:47] #236 closed

[2022-02-17 20:17] ayyubibrahimi opened #252 "make"
Hey @pckhoi

I'm receiving the following error message when I run make. Any idea?

[code]

[2022-02-17 20:34] ayyubibrahimi commented on #252
Awesome. Thanks!

[2022-02-19 03:49] pckhoi commented on #252
There are errors still. Please approve this first: https://github.com/ppact/processing/pull/254

[2022-02-21 03:26] pckhoi opened #255 "Set UID of unknown officers to empty string across all tables"
@ayyubibrahimi can you please implement this when you have the time?

[2022-02-21 21:26] ayyubibrahimi commented on #255
We are currently dealing with two types of unknown officers: 1) rows in which there is no first name or last name for a given officer, 2) rows in which we have replaced a generic name, like `narcotics` or `file for records only`, with an empty string.

For the moment, we are dropping the rows in which there is no first name or last name for a given officer. Therefore, only those tables which conta

[2022-02-21 23:47] pckhoi commented on #255
I don't see any practical differences between the two types. Are the records linked to the first type somehow different? If not then let's give them all the same treatment.

[2022-02-22 18:26] ayyubibrahimi commented on #252
Looks good! Thanks Khoi.

[2022-02-22 21:08] ayyubibrahimi commented on #252
Ran into an issue when running dvc checkout. It looks like I deleted the entire `raw` directory, when I believed that I was only deleting unused all unused csv files. I receive the same message when running `dvc checkout` in the new repo as well. Please advise. If this is something that will be addressed as you continue to update the readme, please feel free to ignore and I'll standby.  Thanks!

[

[2022-02-22 21:11] ayyubibrahimi commented on #255
Sounds good.

[2022-02-24 05:39] #252 closed

[2022-02-24 05:40] ayyubibrahimi opened #257 "WRGL"
Hey @pckhoi

I just received the following error in my attempt to push to WRGL:

[code]

[2022-02-24 09:12] pckhoi commented on #257
Thank you! It does seem that the endpoints could be flaky at least. Have you retried this command multiple times? Did it run for a while and then fail or did it fail immediately? I'm still pulling the event table atm. The data seems to be rather huge lately.

[2022-02-24 09:16] ayyubibrahimi commented on #257
I tried it twice. In both instances it ran for a while before I received this message.

[2022-02-24 09:33] pckhoi commented on #257
Did it fail at the event table both times? So I've just pushed the event table (after remaking it from the `main` branch) and it went alright:
[code]
I made the stupid mistake of upgrading the nodes before inspecting resource allocation. My guess is that there is a memory leak. Unfortunately, there's no artifact for me to inspect anymore. Please try pushing other branches and let me know if it hap

[2022-02-25 20:05] ayyubibrahimi commented on #257
Sorry for the delay. I was traveling yesterday. I decided to start from the beginning by re-running `wrgl pull --all` and received the following message:

[code]

[2022-02-26 01:12] pckhoi commented on #257
Thank you! It seems that you're hitting a Go bug (see https://github.com/golang/go/issues/47635, https://github.com/golang/go/issues/42777) which was probably caused by making a lot of requests to the server on a single connection.

There's no easy way to fix it other than to wait for the bug fixes to land in a new Go release. That said, it should be fine if you simply reattempt the same command a

[2022-02-26 17:42] ayyubibrahimi commented on #257
Awesome. I ran push again and it worked. Thanks!

[2022-02-27 18:18] ayyubibrahimi commented on #257
All good! Thanks for guiding me through the bugs.

 I was feeling adventurous.

The command finished running, but along the way I encountered these errors:
[code]

[2022-02-28 02:32] pckhoi commented on #257
Thank you! Wrglhub is experiencing a strange memory issue in its object storage. I'll let you know when the issue is fixed.

[2022-02-28 04:28] pckhoi commented on #257
So there was no issue with `wrgl pull --all --depth 1`. After fixing the memory issue, I tried the command and there's no error.

[2022-02-28 06:21] ayyubibrahimi commented on #257
Just re-ran the following commands and it worked without any issues. Thanks!

[code]

[2022-02-28 18:57] #255 closed

[2022-02-28 18:57] #241 closed

[2022-03-07 19:35] ayyubibrahimi opened #261 "add test to clean_test.py for clean_sexes function"

[2022-03-16 02:08] ayyubibrahimi commented on #165
@pckhoi - Am I good to close?

[2022-03-16 02:08] #135 closed

[2022-03-16 04:02] pckhoi commented on #165
Indeed!

[2022-03-16 04:02] #165 closed

[2022-03-16 22:32] ayyubibrahimi opened #267 "cross_agency"
Hey @pckhoi - I expect to have acquired all 450 POST officer history reports from the POST agency within the next 3 weeks, therefore, I wanted to re-visit the conversation about how we can best automate the process of cross-referencing POST officer history reports with the output of the cross_agency script. Below is an example of a POST officer history report, and the output from a spacy model whe

[2022-03-17 01:28] pckhoi opened #268 "Drop `allegation_desc` column, re-add `allegation` column for `allegation` table"

[2022-03-17 02:23] pckhoi commented on #267
Perhaps we can create a `post-officer-history` table that references `uid` from `personnel`. Have the cross_agency script read that table and integrate that knowledge into the `person` table. I guess the `post-officer-history` table would act like the `constraint` table. The only difference is that it takes no direct edit. The script should also output matches that are in conflict with `post-offic

[2022-03-21 20:06] ayyubibrahimi commented on #268
Should I go ahead and make these changes? If so, I'll make them before asking you to review the #266

[2022-03-21 23:59] pckhoi commented on #268
Yes, please.

[2022-03-22 23:57] pckhoi commented on #268
Yeah, I think that was the original intention. Sorry for the confusion.

[2022-03-30 00:05] #261 closed

[2022-03-30 00:06] #245 closed

[2022-04-05 01:22] pckhoi opened #276 "Missing UID in personnel table"
UID `dd40b464f36e960a6dc5723c64464033` is presented in [appeal-hearing](https://hub.wrgl.co/@ipno/r/appeal-hearing/refs/heads/main#filter) table but not in [personnel](https://hub.wrgl.co/@ipno/r/personnel/refs/heads/main#filter) table. Maybe the latest personnel data is not pushed?

[2022-04-05 01:24] pckhoi opened #277 "allegation table switched back to using `tracking_number` instead of `tracking_id`."
https://hub.wrgl.co/@ipno/r/allegation/commits/a5948141cde83da6e565cdeab0b89ee7#changes

[2022-04-05 01:47] ayyubibrahimi commented on #277
I don't think it ever changed to `tracking_id` as those changes are in pending #266

[2022-04-05 01:47] ayyubibrahimi commented on #276
I will look into it

[2022-04-05 09:16] pckhoi commented on #277
Looks like it did changed in [cf7952b42492456e3c2d713b98d06647](https://hub.wrgl.co/@ipno/r/allegation/commits/cf7952b42492456e3c2d713b98d06647#changes) which is the previous commit. Sorry for not reviewing #266 sooner. We should try to merge it soon.

[2022-04-05 19:26] ayyubibrahimi commented on #257
@pckhoi  -

I'm receiving the following when for every branch when I run `wrgl pull --all`:
[code]

[2022-04-06 01:42] pckhoi commented on #257
@ayyubibrahimi Thank you for reporting! This error seems to have been caused by expired token. From now on it will print more accurate error message:
[code]
Please login and try again:
[code]

[2022-04-06 03:07] ayyubibrahimi commented on #257
Awesome. I'll give it a go. Thanks!

[2022-04-06 03:52] ayyubibrahimi commented on #257
It's working. Thanks Khoi!

[2022-04-06 10:05] ayyubibrahimi commented on #276
Still unsure. Before running my latest commit, [3b6cf2f3a477e0d1a374bb854fb46406](https://hub.wrgl.co/@ipno/r/appeal-hearing/refs/heads/main), I ran `wrgl diff --all`, which showed that the personnel table had been modified, however, I'm not seeing any changes in the personnel table.

Additionally, I've come across a different issue that I noticed while looking into the missing UID: [Sulphur](http

[2022-04-07 01:02] pckhoi commented on #276
It looks like the sulphur repos do not have any data. Have you only been pushing from the main branch? If so then I can do some investigation on this issue.

[2022-04-07 02:26] ayyubibrahimi commented on #276
Yes, I've only been pushing from the main branch.

[2022-04-07 03:41] pckhoi commented on #276
I might just as well consolidate all tables under `@ipno/r/data` repo right now. No more manual repo creation before a table can be pushed. Please don't push any more data until I have made the switch.

[2022-04-14 19:24] ayyubibrahimi commented on #257
Just ran wrgl pull --all, as you noted in the email. This is the error message I receive:

[code]

[2022-04-15 00:27] pckhoi commented on #257
Thank you! What version of command line were you using? What does it say when you run `wrgl --version`?

Version 0.11.x change pull/push protocol but not necessarily storage format so just updating the command line should work.

[2022-04-15 03:52] ayyubibrahimi commented on #257
Sorry. I didn't see the message and so I didn't update first. It's working now.

[2022-05-02 06:08] huy-d-nguyen opened #287 "`uid` column for the `use-of-force` table"
Hi @ayyubibrahimi cc @pckhoi , previously the `use-of-force` table have one column name `uid` to match that row with one specific officer but for now the column has been removed, can you help us to check and add that column again? Many thanks.

[2022-05-06 07:51] ayyubibrahimi commented on #287
@huy-d-nguyen the 'use-of-force' table has been split into three tables: 'use-of-force', 'use-of-force-officers' and 'use-of-force-citizens'. The column named 'uid' exists only in the 'use-of-force-officers' table and all three tables can be joined on the column named 'uof_uid'. These changes have just been pushed.

[2022-05-09 03:45] huy-d-nguyen commented on #287
Thank you, we will take a look on those tables.

[2022-05-09 16:00] ayyubibrahimi opened #289 "Profile new orleans scripts"

[2022-05-11 00:15] #287 closed

[2022-05-11 00:25] pckhoi opened #290 "Rows with the same primary key in uof officers and uof citizens"
[use-of-force-officers](https://hub.wrgl.co/@ipno/r/data/refs/heads/use-of-force-officers#filter) with `uid` = `023bf5a680011bf39478f42fc3a3a01a`.
[use-of-force-citizens](https://hub.wrgl.co/@ipno/r/data/refs/heads/use-of-force-citizens#filter) with `uof_citizen_uid` = `09066e8d8a8f146a59e7c3127ef2495a`. And `uof_uid` isn't include in `uof_citizen_uid` generation from right now, which I think is a

[2022-05-11 00:28] pckhoi commented on #290
And Wrgl shouldn't allow commit with the same primary key for multiple rows. I'm going to fix it soon. https://github.com/wrgl/wrgl/issues/2

[2022-05-11 00:29] pckhoi commented on #290
@huy-d-nguyen

[2022-05-11 11:21] ayyubibrahimi commented on #290
I've added `citizen_sex`, `citizen_race`, and `uof_uid` to the generation of `uof_citizen_uid` in pr #291

[2022-05-12 13:32] ayyubibrahimi commented on #267
@pckhoi I was thinking that it's probably a good time to re-produce the constraints table. I've identified about 100 or clusters who should be labeled with an attract_id while the remaining thousand clusters should not be considered the same person until we can cross-reference the data with post history reports. Did you want me to produce the constraints table in the same manner as the first, or d

[2022-05-13 01:10] pckhoi commented on #267
Yes, please go ahead with that.

[2022-05-13 04:02] huy-d-nguyen opened #292 "Old use of force fields have been removed"
Hi @ayyubibrahimi, could you bring back those fields below to the three new `use-of-forces` tables?
`force_description`, `force_reason`, `citizen_involvement` ,` citizen_age`, `traffic_stop `

Thanks

[2022-05-13 13:15] ayyubibrahimi commented on #292
These changes are being addressed in pr #293. Khoi will review.

@huy-d-nguyen these three tables are derived from an updated `use_of_force` table that we received from the New Orleans Police Department. The new table did not have the fields `citizen_involvement` or `traffic stop` like the old version, therefore only `use_of_force_description`, `use_of_force_reason`, and `citizen_age` have been ad

[2022-05-15 00:16] pckhoi commented on #292
@huy-d-nguyen do you want the `use_of_force_description`, `use_of_force_reason`, and `citizen_age` repeated across 3 tables?

[2022-05-16 04:21] huy-d-nguyen commented on #292
@pckhoi , I think we do not need the duplication across the 3 tables. But since the old UI use the fields I listed above, so please discuss with Jeeves and then give us the sense for using new data, thank you.

[2022-05-16 05:42] pckhoi commented on #292
@huy-d-nguyen I would like to put the description and reason fields in the main use-of-force table. And put the citizen age field in the citizen table. And those will be the only places where you can find these fields. No duplication.

And I'm simply coming from a data normalization perspective. How to make the data as normalized as possible.

@rajivsinclair does that sound fine to you? Please mak

[2022-05-16 07:55] huy-d-nguyen opened #298 "No uof_uid in any event records in Event table"
Hi @ayyubibrahimi, we do not see any `uof_uid` values in Event table. Please take a look on it.
Thanks

[2022-05-16 07:59] pckhoi commented on #298
Looks like the column is there but it is mostly NA.

[2022-05-16 08:15] ayyubibrahimi commented on #298
Likely a mistake by me. I will look into it now.

[2022-05-16 09:25] ayyubibrahimi commented on #298
Figured out the issue. A pr to resolve this will be opened soon.

[2022-05-16 09:48] ayyubibrahimi commented on #298
This issue is addressed in pr #299

[2022-05-17 02:16] rajivsinclair commented on #292
Thanks @pckhoi. This structure seems fine to me too, if the `description` and `reason` fields are always the same across all officers on a single use_of_force report?

@ayyubibrahimi, can you please confirm why the `citizen_involvement`, `citizen_age`, `citizen_race`, `traffic_stop` fields are no longer available in the use of force data?

Even if these fields are sometimes missing, we should try

[2022-05-17 08:40] ayyubibrahimi commented on #292
`citizen_race` and `citizen_age` are still present in the `use_of_force` table.

 `citizen_involvement` and `traffic_stop` were fields included in the old `new_orleans_pd_uof` table that we received from the IPM, which we have since replaced with the `new_orleans_pd_uof` table that we received directly from NOPD.

An analogous field to the old `traffic_stop` field can be found in the new `new_orle

[2022-05-17 10:22] pckhoi commented on #292
@rajivsinclair yes, the reason and the description fields are unique per use of force record. They are merely replicated onto other tables.

[2022-05-17 15:30] rajivsinclair commented on #292
Got it . Thanks for confirming.

[2022-05-18 02:36] #290 closed

[2022-05-18 02:44] pckhoi opened #302 "raw.dvc a source of conflicts"
`raw.dvc` currently track the entire folder `data/raw` and while it is clean and convenient this file is opaque to Git. So it is possible for `raw.dvc` to not track the correct files during merge. So far it has been manageable only due to the fact that it has been mostly Ayyub who keep this file up-to-date. It can quickly become a source of annoyance once more people modify this file in different

[2022-05-18 09:33] ayyubibrahimi commented on #292
@pckhoi can you confirm the final solution?

[2022-05-18 09:33] ayyubibrahimi commented on #302
Sounds good to me!

[2022-05-18 10:12] pckhoi commented on #292
The most important thing is that we always follow a few principles when processing data. One of the principles we should follow here is making the data as normalized as possible. That means all columns should end up in exactly one table only, except for those that are foreign key to other tables. Doing that allow the data to remain useful to as many purposes as possible while leaving less room for

[2022-05-18 10:46] pckhoi opened #303 "Exclude stop and search data"
Right now stop and search data takes up 80% of the entire event records, which total up to 1M+ records. It causes processing, committing and pushing data significantly slower. If we're not using stop and search data for any particular purpose right now then I propose keeping them off the main output tables e.g. `event` and `personnel`.

In the event that we are using those records then perhaps we

[2022-05-18 10:46] pckhoi commented on #303
@rajivsinclair
@ayyubibrahimi

[2022-05-18 12:46] ayyubibrahimi commented on #292
Sounds good.

FYI - `use_of_force_description` was kept in the `uof_officers` table. I will limit it to that table, `use_of_force_reason` will be limited to the `use_of_force` table and `citizen_age` will be limited to the `uof_citizens` table.

[2022-05-18 13:23] ayyubibrahimi commented on #298
@huy-d-nguyen - also please be aware that the `kind` name has changed in the Event table from `occur_date` to `uof_occur_date`

[2022-05-19 00:01] pckhoi commented on #292
Sounds good to me.

[2022-05-19 00:08] pckhoi commented on #303
For now I think we only need to modify these 2 lines from `fuse/new_orleans_pd.py`:
[code]

Just remove `sas` from both of them is enough I think.

[2022-05-20 10:23] ayyubibrahimi commented on #292
@huy-d-nguyen these issues were just resolved in pr #293. Please let me know if there are any issues

[2022-05-20 10:30] huy-d-nguyen commented on #292
@ayyubibrahimi thank you for letting me know. We will continue our data importing task next week and will tell you if we have any other issues.

[2022-05-20 12:45] ayyubibrahimi opened #305 "analysis"
@pckhoi I was thinking about adding an analysis repo to store the notebooks in which I've analyzed some of the processed data. Thoughts?

[2022-05-20 13:10] ayyubibrahimi commented on #305
Ofc. Atm, I plan to do a pretty superficial analysis of departments for which we have 5+ years of allegations data, i.e., # of allegations over time, allegation type over time, allegation distribution across officers in the dept, etc. Anything you think I should be looking into?

[2022-05-20 15:58] ayyubibrahimi commented on #305
In the beginning I think that the analysis will be surface level, but that in the future it may become more complex, i.e., when we further explore networks.

Awesome. Sounds good. I'll work on integrating those stages.

[2022-05-21 00:40] pckhoi commented on #305
Sounds good. Regarding analysis, either this repo or a new repo is fine to me.

[2022-05-22 16:25] #257 closed

[2022-05-22 16:25] #267 closed

[2022-05-22 16:25] #209 closed

[2022-05-26 09:01] huy-d-nguyen commented on #292
Hi @ayyubibrahimi, you've mentioned that `citizen_race` is still present, but I do not see it in `use_of_force` table. Could you confirm this? Thanks

[2022-05-26 10:35] ayyubibrahimi commented on #292
Hi @huy-d-nguyen - sorry for the lack of clarity. What I meant is that `citizen_race` is still in existence, unlike `citizen_involvement` and `traffic_stop`.

As Khoi requested, `citizen_race` is only present in the `uof_citizens` table, one of three use of force table tables that exist: `use_of_force`, `uof_officers`, and `uof_citizens`

[2022-05-26 10:39] huy-d-nguyen commented on #292
<img width="230" alt="image" src="https://user-images.githubusercontent.com/60863227/170471979-d6746222-2cbd-4fc2-b66e-c61712573734.png">
Look like the `uof-citizens` does not include the `citizen_race` column. Can you help us to check it again?

[2022-05-26 11:36] ayyubibrahimi commented on #292
Please check again.

[2022-05-26 13:26] ayyubibrahimi commented on #277
This has been corrected. Closing.

[2022-05-26 13:26] #277 closed

[2022-05-26 13:26] ayyubibrahimi commented on #303
This has been addressed. Closing.

[2022-05-26 13:26] #303 closed

[2022-05-26 13:27] ayyubibrahimi commented on #305
This has been addressed.

[2022-05-26 13:27] #305 closed

[2022-05-31 03:39] huy-d-nguyen commented on #292
Thank you @ayyubibrahimi! Could you tell us why you replace `use_of_force_type` by `use_of_force_description` in `use-of-force-officers` table? Also, I don't see any differences between the new `use_of_force_description` and `use_of_force_type` in the commit `ecc4a8494dc5700f3bbe590b9b58642e`.
cc @rajivsinclair

[2022-05-31 11:12] ayyubibrahimi commented on #292
Yes. I came to the realization that `use_of_force_description` is a more accurate field name when compared to `use_of_force_type`. There is no change except for the name. If the change introduces a hassle, I'm happy to revert the field name to `use_of_force_type`.

[2022-06-15 07:25] huy-d-nguyen opened #317 "Use of force uof_occur event problem"
Hi @ayyubibrahimi , cc @pckhoi .  We have one question related to the use of force `uof_occur` event. It looks like you have clean the field `uid` of those `uof_occur` events (empty value) due to the implementation of the use-of-force-officer relation. But should we clean the field agency too because many officer point to the same use of force still can be in different department too. Or should we

[2022-06-15 07:37] pckhoi commented on #317
Are you saying that inside `use-of-force-officers`, there are rows that share the same `uof_uid` but different `agency`? Or point to officers from different agencies?

[2022-06-15 08:35] huy-d-nguyen commented on #317
no, I mean currently inside the `event` table, we link the `uof_occur` event to one `use-of-force` via `uof_uid`, but that `use-of-force` could be link to many officers, and those could have different agency, but we still have `agency` value inside the `uof_occur` event, too. It makes us feel ambiguous.

[2022-06-15 08:46] pckhoi commented on #317
There are no `use-of-force` row that could link to officers from multiple agencies. You can take agency from any table that has that field.

It's a little redundant to have the `agency` field in multiple places, sure. But I don't see how it is an issue yet.

[2022-06-15 08:51] huy-d-nguyen commented on #317
Ok, got it. But up to now, we used the `event` table as the through table to link between the `department` and `officer`, but as the implementation of the n ew `use-of-force`, those `use-of-force` events no longer contain the `uid` inside them. So we need to link the `department` with the `officer` directly`. How do you think about that? Is the link between the department and officer stable for no

[2022-06-15 08:58] pckhoi commented on #317
By "department", do you mean "agency"?

There are no `uid` that appears in more than one agency. I can guarantee that.

[2022-06-15 09:34] #317 closed

[2022-06-16 07:50] huy-d-nguyen opened #318 "Data importing of LLEAD"
Hi @pckhoi @ayyubibrahimi. As discussed, the sheet below displays the fields that we need for LLEAD which are in yellow cells. Please take a look on it. Thanks!
[Link](https://docs.google.com/spreadsheets/d/1cUYOd-WsE32ve72_epOKcCzJLUuzbeoKy2_djS_E5hM/edit#gid=0)

[2022-06-16 10:48] huy-d-nguyen commented on #318
I agree with you.  Although the automate the import process looks quite complex to us, we will spend time to optimize the work flow base on your suggestion.

[2022-07-19 02:30] huy-d-nguyen opened #323 "Second date info for appeal hearing"
Hi @ayyubibrahimi , previously we have the field `second-date` for the appeal hearing related event but it was removed. Can you help us to check and add that field again? In case that field cannot be added again, please let us know, thank you.

[2022-07-19 07:07] ayyubibrahimi commented on #323
hey @huy-d-nguyen - Apologies for not keeping you in the loop. Rajiv, Sukari, and I, with the rest of the IPNO team, decided to drop the `second-date` in favor of highlighting the most final appeal hearing event/date. Does this still sound right to you? @rajivsinclair @lsukaristone

[2022-07-19 07:12] rajivsinclair commented on #323
Yes, thanks for clarifying here @ayyubibrahimi. I forgot that we had reached this conclusion - sorry for the confusion @huy-d-nguyen

[2022-07-19 07:25] huy-d-nguyen commented on #323
we got it, thank you all.

[2022-07-19 07:25] #323 closed

[2022-08-22 16:31] ayyubibrahimi opened #324 "datavalid"
hey @pckhoi

I'm receiving the following error message re `datavalid`  when I attempt to access a `.py` script in the clean directory:

`ImportError: cannot import name 'load_config' from 'datavalid' (/usr/local/lib/python3.10/dist-packages/datavalid/__init__.py)`

Please advise

[2022-08-22 16:47] pckhoi commented on #324
Hey Ayyub, I don't think any library support python 3.10 yet. Can you downgrade to python 3.9 and try again?

[2022-08-22 16:50] ayyubibrahimi commented on #324
Disregard.

For some reason, packages won't install properly if I run:  `pip install -r requirements.txt`

But, installation seems to work if I install each package separately, i.e., `python -m pip install datavalid==0.3.6`

This works with python 3.10. If I run into further issues, I' will downgrade to 3.9.

[2022-08-23 00:53] pckhoi commented on #324
Well that means `pip` and `python` belongs to different installations. You can check by running `which pip` and `which python` under WSL. It will probably show those files living in 2 different folders. Ideally, they should live in one folder only. You should probably look at using virtualenvwrapper under WSL.

[2022-08-23 06:57] ayyubibrahimi commented on #324
Thanks. Resolved.

[2022-08-23 06:57] #324 closed

[2022-08-23 07:00] ayyubibrahimi opened #325 "deba"
Hey @pckhoi

Another stick-up: I'm receiving a loop when I run `make`

[code]
This output continues to loop until I interrupt it.

[2022-08-23 07:21] pckhoi commented on #325
What is the current make certain in your machine? Try to update to version 4.3

[2022-08-23 18:56] ayyubibrahimi commented on #325
I'm on version `4.2.1`

I've been trying for a while to update to version 4.3, beginning with this resource where you previously directed me but I'm having no luck.

https://askubuntu.com/questions/1386752/where-to-find-gnu-make-4-3-for-ubuntu-20-04

For example:

[code]

[2022-08-23 20:06] ayyubibrahimi commented on #325
Attempted update in WSL terminal in VScode:

[code]

[2022-08-24 03:22] ayyubibrahimi commented on #325
Solution figured out! That said, we have a new issue:

When I run make I receive the following:

[code]

As noted above,  It seems as if `No rule to make target 'data/clean/lprr_baton_rouge_fpcsb_1992_2012.csv`

is supposed to be ignored, but that it no longer is. Thoughts?

[2022-08-24 03:35] ayyubibrahimi commented on #325
[code]

[2022-08-24 03:35] pckhoi commented on #325
Why do you think `data/clean/lprr_baton_rouge_fpcsb_1992_2012.csv` need to be ignored? What script produce this file and is the path correct?

[2022-08-24 03:42] ayyubibrahimi commented on #325
To answer your question, I'm not sure. The warning  `no prerequisite or reference, skipping script baton_rouge_fpcsb_lprr.py` warning has been there ever since I can remember

Ignore what I wrote in Signal. I was spoke incorrectly. Above (comment from 20 mins ago) is what happened when I ran `make`

Here is the output of `make data/fuse/per_new_orleans_pd.csv` from a few minutes ago:

[code]

But,

[2022-08-24 03:48] pckhoi commented on #325
Regarding `clean/baton_rouge_fpcsb_lprr.py` script, I found this snippet:
[code]
whereas the prerequisite patterns defined in `deba.yaml` are:
[code]
That's the culprit right there. You either need to add a new pattern for Deba to pick up this prerequisite, or change the function call.

[2022-08-24 03:51] pckhoi commented on #325
`No rule to make target 'data/raw/baker_pd/baker_pd_cprr_2018_2020.csv'` means Make couldn't find this file on disk. Maybe you forgot to add this file?

[2022-08-24 03:59] pckhoi commented on #325
Regarding the `open()` call, I see that you're simply opening a CSV file, which does not warrant adding a new prerequisite pattern IMHO.

[2022-08-24 04:04] ayyubibrahimi commented on #325
Forgot to add the file. Thanks.

Re the `open()` call and `clean/baton_rouge_fpcsb_lprr.py` - this was one of the first tables that we received, and so I'm fairly certain that you processed this. I'm more than happy to make the change, rather than adding a new prerequisite pattern.

[2022-08-24 04:20] pckhoi commented on #325
Yes, please. Thank you!

[2022-08-24 06:42] ayyubibrahimi commented on #325
Last step of the processing pipeline, the `cross_agency` script, seems to have an issue. Please see output:

[code]

[2022-08-24 07:22] pckhoi commented on #325
The wrgl binary is not installed on your machine. Here's one liner to install:
[code]

[2022-08-24 10:04] ayyubibrahimi commented on #325
Awesome. Everything seems to be all good. Thanks for all the help!

[2022-08-24 10:04] #325 closed

[2022-09-02 06:24] ayyubibrahimi opened #333 "Document importing of LLEAD"
Hey @[huy-d-nguyen](https://github.com/huy-d-nguyen) question for you. What metadata do you need to import documents into LLEAD? There are currently two versions of the `post_officer_history.csv` tables, one that includes metadata and one that does not. Please advise as to what metadata your team needs to attach documents to an officer's profile. At the moment, this is the extent of the metadata t

[2022-09-02 07:03] ayyubibrahimi commented on #333
cc: @rajivsinclair @lsukaristone

[2022-09-05 02:39] huy-d-nguyen commented on #333
Hi @ayyubibrahimi , currently the fields in https://hub.wrgl.co/@ipno/r/data/refs/heads/documents are fine to us to import the documents. Is it ok to you?

[2022-09-05 02:41] huy-d-nguyen opened #339 "Department Table"
Hi @ayyubibrahimi , up to now, we don't have any department table in wrgl, we just have the `agency` field in some table to keep track on the department relation and we will create new department whenever we have a new agency value. We think that later then we need a table to keep track on the departments so that we can remove the duplicated/redundant departments. How do you think about that? Do y

[2022-09-05 02:42] #318 closed

[2022-09-05 02:42] #292 closed

[2022-09-05 02:43] #298 closed

[2022-09-05 05:22] ayyubibrahimi commented on #339
Agreed. Thanks for bringing this up! I planned to talk to @rajivsinclair about this at our next meeting. Currently, on the Django side, the duplication/redundant department is an immediate issue because, for example, news articles are attached to one department (i.e., `Evangeline Sheriff's Office`) while personnel/allegations data is attached to the other redundant department (i.e., `Evangeline Pa

[2022-09-05 05:40] ayyubibrahimi commented on #333
Hey @huy-d-nguyen, at the moment, the documents table that we have in production does not include all of those fields. Do you know which of the fields are required for import? All? Some?

[2022-09-06 02:24] huy-d-nguyen commented on #333
Hi @ayyubibrahimi , I think @rajivsinclair and @ @lsukaristone will know which fields are going to be used in future. Can you discuss more with them about that?

[2022-09-06 02:50] ayyubibrahimi commented on #333
Sounds good. Thanks!

[2022-09-09 08:53] ayyubibrahimi commented on #339
Hey @huy-d-nguyen. Here is the department table that I've come up with. The table includes both the correct `slug` and `name` for each department. As far as I know, there are redundant/duplicate departments for all departments, therefore,  all redundant departments should be consolidated based on the values in the table below. Is this what you had in mind? Please feel free to let me know if this i

[2022-09-09 09:13] huy-d-nguyen commented on #339
Yes, looks good to us.

[2022-09-09 11:28] ayyubibrahimi commented on #339
Awesome. Please let me know if there is anything else that I can do to help.

[2022-09-13 02:36] huy-d-nguyen commented on #339
Hi @ayyubibrahimi , have you pushed the department data to wrgl? We tend to import the new Department data to remove the duplication soon. So please let us know when the data of the department table is ready.

[2022-09-13 03:35] ayyubibrahimi commented on #339
@huy-d-nguyen here is a link to the [wrgl](https://hub.wrgl.co/@ipno/r/data/refs/heads/agency-reference-list) table

[2022-09-13 03:40] huy-d-nguyen commented on #339
Thank you, we will take a look on that.

[2022-09-13 08:25] ayyubibrahimi commented on #333
@rajivsinclair - Follow-up question re: the importation of POST officer history reports. Am I correct in appending these data to the events table, rather than the [post-officer-history](https://hub.wrgl.co/@ipno/r/data/refs/heads/post-officer-history) table on wrgl? Currently unsure as to 1) how the migration map is generated and 2) how this post officer history table will be used to generate the

[2022-09-13 08:57] baoea commented on #339
Hi @ayyubibrahimi, could data team provide fields we need such as `city`, `parish` ,`address`,`phone`, `location_map_url`, `location`? Our importing flow depends on the fields data team provides us. Thanks!

[2022-09-13 09:03] ayyubibrahimi commented on #339
Sure @baoea.

@rajivsinclair @lsukaristone - please advise as to how you generate the `location` coordinates currently on Django for each agency.

[2022-09-13 10:06] baoea commented on #339
@ayyubibrahimi the current way we get the `location` coordinates is to google them and then manually input those into the admin page.

[2022-09-14 08:22] baoea commented on #339
Hi @ayyubibrahimi, could you change the `agency` field in `event` table into `slug` instead of `name`? Thanks!

[2022-09-14 08:33] ayyubibrahimi commented on #339
Hey @baoea will look into those changes

[2022-09-14 08:34] baoea commented on #339
Thanks @ayyubibrahimi. Since now we have `department` table, we would like to use `slug` as department `id`

[2022-09-14 08:50] baoea opened #345 "Title field in document table"
Hi @ayyubibrahimi, I saw a row with a very long `title` in `document` table
`Appeal hearing: Scott Bernard regarding his one day suspension. The hearing was originally scheduled for January 14, 2014. Ms. Angers stated that she received a letter from Michael P. Corry, Attorney for the Police Chief, which stated that he and Ms. Allyson Prejean, attorney for Scott Bernard, requested that the hearing

[2022-09-14 08:57] ayyubibrahimi commented on #345
Hi @baoea - The `title` is supposed to be short. The `document` table is produced by Tarak's processing pipeline. Any insight @tarakc02?

[2022-09-14 09:25] ayyubibrahimi commented on #339
@baoea - the `department` table has been updated on wrgl with `location` values.

I don't know of any departments, at the moment, which have values for the `city`, `parish` ,`address`, `phone`, `location_map_url`, fields that you mentioned above. Is this something that should be prioritized, or is the `location` sufficient for the immediate future @baoea @rajivsinclair @lsukaristone

[2022-09-14 09:46] baoea commented on #339
@ayyubibrahimi there are some `agency_slug` with triple dash such as `lsu---alexandria-university-pd`  (LSU - Alexandria University Police Department). For the best practice, I believe we should keep it to be single dash `lsu-alexandria-university-pd`. Thanks!

[2022-09-14 09:54] ayyubibrahimi commented on #339
@baoea agreed. This issue was just addressed in the latest commit to wrgl.

[2022-09-14 10:12] baoea commented on #339
@ayyubibrahimi we check the data and see the `dot` in `agency_slug` (for example `st.-bernard-so`). It should be `st-bernard-so`.
Thanks!

[2022-09-14 10:56] ayyubibrahimi commented on #339
Corrected in the most recent commit. Also, note that the slugs and names have changed for some of the agencies associated with `da` or the `District Attorney's Office`

[2022-09-14 17:56] tarakc02 commented on #345
Yes I use some heuristics to determine when the "title" of the hearing ends and when the rest of the content begins. It's supposed to cap the length, I will review why that's not happening and report back.

[2022-09-15 02:32] huy-d-nguyen commented on #339
Hi @ayyubibrahimi , we think that there is one missing row in the department table, currently we only have 2 departments related to the  `feliciana`: west and east(see image)
<img width="615" alt="image" src="https://user-images.githubusercontent.com/60863227/190299196-61c00e8e-93a7-4db4-9da5-8420702e7177.png">
But from the personnel table, we have three, and the missing one is `Feliciana SO`.
<im

[2022-09-15 02:39] tarakc02 commented on #345
In some cases I was pulling out too much text when trying to isolate the name of the accused officer. Since the `title` field combines scraped date and officer name information, that was causing the long titles. In cases where we have matched the officer name to the roster UID (which we do successfully even when there's extra matched text), I've swapped the extracted name with the roster one -- th

[2022-09-15 03:45] ayyubibrahimi commented on #339
@huy-d-nguyen - I'm currently in the process of changing all of the `agency` column type to represent the slug field in PR #346. This issue should be fixed after this PR is merged. I will keep you updated.

[2022-09-15 08:53] ayyubibrahimi commented on #339
The `agency` column type in the `event` table @baoea  and `personnel` table @huy-d-nguyen  is now the same as the `agency_slug` from the `department` table

[2022-09-15 08:59] huy-d-nguyen commented on #339
We also see the updated slugs of the table `allegation`, `appeal-hearing`, `use-of-force`. Are those table use the new `agency_slug` too?

[2022-09-15 08:59] baoea commented on #345
Thank you @tarakc02!

[2022-09-15 08:59] #345 closed

[2022-09-15 09:05] ayyubibrahimi commented on #339
Yes. To avoid redundant departments again, the values have been changed for all relevant tables.

[2022-09-16 02:49] baoea commented on #339
@ayyubibrahimi we have issue with some departments that have `department` in names. In `agency` table, we have `jefferson-fire-department`, but it is `jefferson-fire-dept` in `personnel` table. Please check it out. Thanks!

![image](https://user-images.githubusercontent.com/93108394/190545626-88cacd2f-a066-48a2-958c-f4bc5b28bf7d.png)
![image](https://user-images.githubusercontent.com/93108394/1905

[2022-09-16 03:02] baoea commented on #339
@ayyubibrahimi

![image](https://user-images.githubusercontent.com/93108394/190547663-a36a9d13-672c-4ae1-875e-ad0e10305bd3.png)

This should be `new-orleans-levee-pd`

[2022-09-16 05:29] ayyubibrahimi commented on #339
hey @baoea

1) The `personnel` table should now have `jefferson-fire-department` as it's value
2) `orleans-levee-pd`, as it is in the allegations table is actually the correct slug, therefore, I've made a change to the `department` table to have `orleans-levee-pd` as the `agency_slug`

[2022-09-16 05:54] baoea commented on #339
@ayyubibrahimi These agencies below in `personnel` table that cannot be looked up in `agency` table
Please check and fix them. Thank you very much in advance!

east-baton-rouge-so
medical-center-of-la-no
office-of-youth-dev,-dept-of-corrections
louisiana-dept-of-justice
Abbeville PD
delgado-cc-university-pd
dept-of-public-safety
lafayette-city-park-rec
orleans-da
orleans-constable
louisiana-dept-o

[2022-09-16 08:14] ayyubibrahimi commented on #339
@baoea All tables, including the `department` table have been updated. Please review. Apologies for the lack of standardization as there are still some kinks in the OCR.

[2022-09-16 09:08] baoea commented on #339
@ayyubibrahimi These slugs in `personnel` table still are not working. Please check. Thanks!

Abbeville PD
lafayette-city-park-rec
office-of-youth-dev,-department-of-corrections
new-orleans-criminal-court
lsuhsc-no-university-pd
new-orleans-civil-so

[2022-09-16 09:21] baoea commented on #339
@ayyubibrahimi This a good practice for slug. You can find more in here https://docs.djangoproject.com/en/4.1/ref/utils/#django.utils.text.slugify

<img width="680" alt="image" src="https://user-images.githubusercontent.com/93108394/190603697-7411084e-c1b1-40c1-a08c-fed58dea6128.png">

Also, the comma should not be in slugs because we use slugs for urls

[2022-09-16 10:30] ayyubibrahimi commented on #339
@baoea Thanks for the advice! I've addressed the issues above. Please review and let me know if there are any issues.

[2022-09-19 08:35] baoea opened #352 "Missing data in event and allegation table"
Hi @ayyubibrahimi, after import the data, we have some confused that we want to ask your help:
- First, it looks like the data in `event` table have been missed. You can take a look at the below two images for the details. The first one is from the data we have imported in July, the second is from the latest data. We missed some fields such as `rank desc, badge, salary` and the data is just from `

[2022-09-19 14:38] ayyubibrahimi commented on #352
Hi @baoea

1) The gap in time looks correct. The following applies only to the New Orleans Police Deaprtment. We recently decided to use a dataset that we received from the primary source, the New Orleans Police Department, and not a third party. As a result, the time period for which we have data was reduced. That said, `rank_desc` and `salary` fields are available for those officers who are incl

[2022-09-20 02:28] rajivsinclair commented on #352
@ayyubibrahimi how should we handle cases where there are both `allegation_desc` and `allegation_sub_desc`? [Here](https://www.figma.com/file/1pISJr64LnsaZHOdcLAPes/Officer-Profile-Page?node-id=1729%3A275) is the existing design. Should we be displaying both? or is the sub_desc too long to display in this design?

[2022-09-20 06:35] ayyubibrahimi commented on #352
@rajivsinclair - I lean toward displaying both. I believe that the `allegation_desc` will often contain more text than the `allegation_sub_desc`. I don't know if we decided at what point the `allegation_desc` should be cut off with an ellipsis. Is there an alternative way to handle lengthy descriptions?

[2022-09-21 10:07] baoea commented on #339
@ayyubibrahimi we got some `slugs` that are in `officer` and `event` tables, but not in `agency`. Please check. Thanks!

broussard-fd
vermilion-o
my-shal
gretnapld
sthelena-so
ng-oaparish-so

[2022-09-21 10:11] ayyubibrahimi commented on #339
Looks like bad OCR again. Apologies. I'll fix.

[2022-09-21 17:14] ayyubibrahimi commented on #339
@baoea is the `officer` table the same as the `personnel` table?

[2022-09-22 02:17] huy-d-nguyen commented on #339
Yes, we refer the `officer` is the `personnel` table.

[2022-09-22 07:29] baoea commented on #339
@ayyubibrahimi we still have problem with `vermilion-o` and `broussard-fire-department`. Cannot find them in `agency` table

[2022-09-22 07:58] ayyubibrahimi commented on #339
@baoea still working on it. The bug isn't clear on my side. I'll let you know when it's fixed.

[2022-09-22 08:52] ayyubibrahimi commented on #339
@baoea looks good. Please review.

[2022-09-23 02:39] baoea opened #365 "Officer missing data"
Hi @ayyubibrahimi, there is an officer that does not have name. He has lots of allegations. Is it ok?
Also, a lot of officers miss information like `badge_no`, `rank_desc`... in `event` table.

![image](https://user-images.githubusercontent.com/93108394/191882043-b3c5c467-65c5-4c29-82f3-51ff6b80a020.png)

![image](https://user-images.githubusercontent.com/93108394/191882084-1ac2fbbc-c915-4471-b5c5

[2022-09-23 02:39] baoea commented on #339
The slug issue is ok now. Thank you!

[2022-09-23 07:58] ayyubibrahimi commented on #365
@baoea Thanks. Officers/allegation events without names have been dropped.

Officers who are missing data like `badge_no`, `rank_desc`. in `event` table is a long-term data quality issue that I'm working on with our data sources. Not sure there is much that can be done in the immediate future.

[2022-09-23 08:42] baoea commented on #365
@ayyubibrahimi there is still no name officer in the latest commit
![image](https://user-images.githubusercontent.com/93108394/191923362-ce0512e9-98bc-4ed5-8c57-c37f9eeb26ef.png)

[2022-09-23 13:15] ayyubibrahimi commented on #365
Got it. Please review @baoea

[2022-09-25 17:32] rajivsinclair commented on #352
@lsukaristone what do you think about displaying a truncated allegation_desc? I think that if we do then we should also offer some way to see the full text, so maybe it is just truncated after 3 lines and then you have to click a "see more" button to expand the card and display the rest. That's just my initial thought.

[2022-09-26 07:04] huy-d-nguyen commented on #365
Look like the data is good now, thank you, we will close the issue.

[2022-11-02 22:09] ayyubibrahimi opened #411 "wrgl pull"
hey @pckhoi, I'm still receiving an error when I run `wrgl pull --all`. Please see below

[code]

[2022-11-02 23:05] pckhoi commented on #411
Again I suspect this is due to unstable network? Try again when you have stable connection. Also, you can add the flag "--ignore-non-existent" if you ever add a new branch for the command to ignore that new branch.

[2022-11-03 01:56] ayyubibrahimi commented on #411
Hmm. I'm back in NY with decent wifi. I'll continue to explore on my end.

[2022-11-03 02:37] pckhoi commented on #411
Okay, let me know if you still encounter it. I certainly did run successfully on my local computer.

[2022-11-04 00:09] ayyubibrahimi commented on #411
@pckhoi No luck. I assume that it's my computer that is the problem. This is problematic because I'm not able to exhaust every option to reproduce the error in #410. I'm back in New Orleans soon where I'll work on getting a new computer.

[2022-11-04 00:58] pckhoi commented on #411
So I don't really expect or anticipate any usage of wrgl locally to be necessary to contribute productively. At least that's how I designed it. If the errors are strictly in the wrgl pull and commit stage then feel free to tell me to look at it directly. I figure expecting you to handle that part is just unreasonable.

Re getting a new computer, 100%, please get a machine with at least 16Gb of RAM

[2022-11-04 11:51] ayyubibrahimi commented on #411
Sounds good. Thanks.